// Music Search
<div class="row">
  <div class="col">
    <app-search-form></app-search-form>
  </div>
</div>
<div class="row">
  <div class="col">
     <app-album-grid></app-album-grid>
  </div>
</div>

// Album grid:
<div class="card-group">
    <app-album-item class="card"></app-album-item>
</div>

.card{
  max-width: 25%;
}

// Album Item
<img class="card-img-top" src="http://via.placeholder.com/300x300">
<div class="card-body">
  <h5 class="card-title">Card title</h5>
</div>

//app.component
<app-music-search></app-music-search>